* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  scroll-behavior: smooth; /* Serve para fazer o scroll descer mais suave */
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif; /* Especificação para usar o estilo da fonte */
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 10%;

  padding: 5px 30px;
  position: fixed;
  top: 2px;

  background: white;
  transition: all 0.3s ease-out;

  z-index: 2;
}

.header-logo div img {
  max-height: 70px;
  width: auto;
}

.header-login nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.header-login nav ul li {
  margin: 0 15px;
}

.header-login nav ul li a {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px 35px;
  display: inline-block;
  color: rgb(7, 7, 7);
  font-size: 16px;
  border: 1.5px solid #020202;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.header-login nav ul li a.cadastre-se {
  background-color: #ff6600;
  border-radius: 5px;
  color: white;
}

.header-login nav ul li a.cadastre-se:hover {
  background-color: #ff4500;
}
